{% extends 'AdminBundle:AdminDashobard:base.html.twig' %}


{% block pageTitle %} Edycja kategorii {% endblock %}
{% block bodyClass %} nav-md {% endblock %}
{% block pageHeading %} Edytuj kategorię {% endblock %}


{% block container %}
    
    <div class="col-md-9 col-sm-9 col-xs-9 pull-left">

        {{ form_start(form) }}

        {% for flash_message in app.session.flashBag.get('notice') %}
            <div class="flash-notice">
                {{ flash_message }}
            </div>
        {% endfor %}  
        {% for flash_message in app.session.flashBag.get('error') %}
            <div class="flash-notice" style="color: red!important;">
                {{ flash_message }}
            </div>
        {% endfor %} 

        <div class="x_panel tile">
            <div class="form-group">
                <div class="row">
                    <div class="pull-left col-md-9 col-sm-9 col-xs-9">
                        <h2 class="field-substitution">
                            <span class="disappearing-field"> 
                                {% if category is defined %} 
                                    {{ category.categoryName }}  <a href="#" class="btn btn-transparent"> Zmień nazwę </a>
                                {% else %}
                                    {{ form_widget(form.categoryName, {'attr': {'class': 'form-control'}}) }}
                                {% endif %}
                            </span>
                            <span class="editing-field"> 
                                {% if category is defined %} {{ form_widget(form.categoryName, {'attr': {'class': 'form-control'}}) }} {% endif %}
                            </span>
                        </h2>
                        <div class="page-link">
                            <h5 class="field-substitution">
                                <span class="disappearing-field"> 
                                    {% if category is defined %} 
                                        Bezpośredni link: 
                                        <span class="link"> 
                                            <strong>
                                                {{ app.request.getSchemeAndHttpHost() }}/{{ category.link }} 
                                            </strong> 
                                        </span>
                                        <a href="#" class="btn btn-transparent"> Edytuj </a>
                                    {% endif %}
                                </span>
                                <span class="editing-field"> 
                                    {% if category is defined %} {{ form_widget(form.link, {'attr': {'class': 'form-control'}}) }} {% endif %}
                                </span>
                            </h5>
                        </div>
                    </div>
                    <div class="pull-right col-md-3 col-sm-3 col-xs-3">
                        <p class="text-right">
                            {% if category is defined%} 
                                <a href="{{ path('admin_categories_remove',{ 'categoryID': category.id }) }}" class="btn btn-danger icon-inside icon-trash"> Usuń </a>
                                <a href="{{ path('admin_categories_add_new') }}" class="btn btn-success icon-inside icon-plus"> Nowa kategoria </a>
                            {% endif %}                        
                        </p>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <h4> Opis kategorii </h4>
                {{ form_widget(form.categoryDescription, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-3 pull-right">
        <div class="x_panel tile">
            <h2> Informacje <span class="i"> i </span></h2>
            <hr> <hr>
            {% if category is defined %}<p> Data opublikowania: <strong>  {{ category.published | date('Y-m-d G:i:s') }}  </strong> </p> {% endif %}
            <p> Rodzic: <strong> brak </strong> <a href="#" class="btn btn-transparent"> Edytuj </a> </p>
        </div>
    </div>
    <div class="col-md-9 col-sm-9 col-xs-9 pull-left">
        <p class="text-right"> 
            <a href="#" class="btn btn-transparent icon-inside icon-eye"> Podgląd </a>
            <a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}" class="btn btn-danger icon-inside icon-refresh"> Anuluj </a>
            {{ form_widget(form.save, {'attr': {'class': 'btn btn-success icon-inside icon-accept'}}) }}
        </p>
    </div>
    {{ form_widget(form._token) }}
    {{ form_end(form, {'render_rest': false}) }}

{% endblock %}
    
    
    
{% block scripts %} 
{{ parent() }}

{% endblock %}