{% extends 'AdminBundle:AdminDashobard:base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <!-- Include Editor style. -->
    <link href="{{ asset('assets/vendor/froala/css/froala_editor.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('assets/vendor/froala/css/froala_style.min.css') }}" rel="stylesheet" type="text/css" />

    <!-- Include Code Mirror style -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/codemirror.min.css">

    <!-- Include Editor Plugins style. -->
    <link rel="stylesheet" href="{{ asset('assets/vendor/froala/css/plugins/char_counter.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/vendor/froala/css/plugins/code_view.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/vendor/froala/css/plugins/colors.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/vendor/froala/css/plugins/emoticons.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/vendor/froala/css/plugins/file.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/vendor/froala/css/plugins/fullscreen.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/vendor/froala/css/plugins/image.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/vendor/froala/css/plugins/image_manager.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/vendor/froala/css/plugins/line_breaker.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/vendor/froala/css/plugins/quick_insert.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/vendor/froala/css/plugins/table.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/vendor/froala/css/plugins/video.css') }}">
{% endblock %}


{% block pageTitle %} Main Dashboard {% endblock %}
{% block bodyClass %} nav-md {% endblock %}
{% block pageHeading %} Zarządzanie stroną {% endblock %}
{% form_theme form _self %}

{%- block choice_widget_expanded -%}

    <div {{ block('widget_container_attributes') }}>
    {%- for child in form %}
        <div>
            {{- form_widget(child) -}}
            {{- form_label(child, null, {translation_domain: choice_translation_domain}) -}}
        </div>
    {% endfor -%}
    </div>
        
{%- endblock choice_widget_expanded -%}

{% block container %}
    <div class="col-md-9 col-sm-9 col-xs-9 pull-left">
        {{ form_start(form) }}
        
        {% for flash_message in app.session.flashBag.get('notice') %}
            <div class="flash-notice">
                {{ flash_message }}
            </div>
        {% endfor %}  
        
        {% for flash_message in app.session.flashBag.get('error') %}
            <div class="flash-notice" style="color: red!important;">
                {{ flash_message }}
            </div>
        {% endfor %} 
        
        <div class="x_panel tile">
                            
            <div class="form-group">
                <div class="row">
                    <div class="pull-left col-md-9 col-sm-9 col-xs-9">
                        <h2 class="field-substitution">
                            <span class="disappearing-field"> 
                                {% if page is defined %} 
                                    {{ page.pageTitle  }}  <a href="#" class="btn btn-transparent"> Zmień nazwę </a>
                                {% else %}
                                    {{ form_widget(form.pageTitle, {'attr': {'class': 'form-control'}}) }}
                                {% endif %}
                            </span>
                            <span class="editing-field"> 
                                {% if page is defined %} {{ form_widget(form.pageTitle, {'attr': {'class': 'form-control'}}) }} {% endif %}
                            </span>
                        </h2>
                        <div class="page-link">
                            <h5 class="field-substitution">
                                <span class="disappearing-field"> 
                                    {% if page is defined %} 
                                        Bezpośredni link: 
                                        <span class="link"> 
                                            <strong>
                                                {{ app.request.getSchemeAndHttpHost() }}/{{ page.link }} 
                                            </strong> 
                                        </span>
                                        <a href="#" class="btn btn-transparent"> Edytuj </a>
                                    {% endif %}
                                </span>
                                <span class="editing-field"> 
                                    {% if page is defined %} {{ form_widget(form.link, {'attr': {'class': 'form-control'}}) }} {% endif %}
                                </span>
                            </h5>
                        </div>
                    </div>
                    <div class="pull-right col-md-3 col-sm-3 col-xs-3">
                        <p class="text-right">
                            {% if page is defined%} 
                                <a href="{{ path('admin_pages_remove',{ 'pageID': page.id }) }}" class="btn btn-danger icon-inside icon-trash"> Usuń </a>
                                <a href="{{ path('admin_pages_add_new') }}" class="btn btn-success icon-inside icon-plus"> Nowa strona </a>
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>
            <div class="form-group">
                {{ form_widget(form.pageContent, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-3 pull-right">
        <div class="x_panel tile">
            <h2> Informacje <span class="i"> i </span></h2>
            <hr> <hr>
            <p> Widoczność: {{ form_widget(form.visibility, {'attr': {'class': 'form-control'}}) }}
            {% if page is defined %}<p> Data opublikowania: <strong>  {{ page.published | date('Y-m-d G:i:s') }}  </strong> </p> {% endif %}
            <p> Rodzic: <strong> brak </strong> <a href="#" class="btn btn-transparent"> Edytuj </a> </p>
        </div>
    </div>                                   
    <div class="col-md-3 col-sm-3 col-xs-3 pull-right">
        <div class="x_panel tile">
            <h2> Statystyki <span class="i"> i </span></h2>
            <hr> <hr>
            <p> Całkowita ilość wejść: <strong> 100 000 000 </strong> </p>
            <p> Wejść w tym miesiącu: <strong> 32214 </strong> </p>
            <p> Ranking odwiedzin twoich stron: <strong> 2. miejsce </strong> </p>
            <p> <a href="#" class="btn btn-transparent"> Zmień wyświetlane statystyki </a> </p>
        </div>
    </div>                        
    <div class="col-md-3 col-sm-3 col-xs-3 pull-right">
        <div class="x_panel tile">
            <h2> Kategorie <span class="i"> i </span> </h2>
            <hr><hr>                
            {{ form_row(form.categories) }}
            <p> <a href="#" class="btn btn-transparent"> Zarządzaj kategoriami </a> </p>
        </div>
    </div>
    <div class="col-md-9 col-sm-9 col-xs-9 pull-left">
        <p class="text-right"> 
            <a href="#" class="btn btn-transparent icon-inside icon-eye"> Podgląd </a>
            <a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}" class="btn btn-danger icon-inside icon-refresh"> Anuluj </a>
            {{ form_widget(form.zapisz, {'attr': {'class': 'btn btn-success icon-inside icon-accept'}}) }}
        </p>
    </div>
    {{ form_widget(form._token) }}
    {{ form_end(form, {'render_rest': false}) }}

{% endblock %}
    
        
{% block scripts %} 
{{ parent() }}
<script type="text/javascript" src="{{ asset('assets/vendor/froala/js/froala_editor.min.js') }}"></script>

<!-- Include Code Mirror. -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/codemirror.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/mode/xml/xml.min.js"></script>

<!-- Include Plugins. -->
<script type="text/javascript" src="{{ asset('assets/vendor/froala/js/plugins/align.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/vendor/froala/js/plugins/char_counter.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/vendor/froala/js/plugins/code_beautifier.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/vendor/froala/js/plugins/code_view.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/vendor/froala/js/plugins/colors.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/vendor/froala/js/plugins/emoticons.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/vendor/froala/js/plugins/entities.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/vendor/froala/js/plugins/file.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/vendor/froala/js/plugins/font_family.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/vendor/froala/js/plugins/font_size.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/vendor/froala/js/plugins/fullscreen.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/vendor/froala/js/plugins/image.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/vendor/froala/js/plugins/image_manager.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/vendor/froala/js/plugins/inline_style.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/vendor/froala/js/plugins/line_breaker.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/vendor/froala/js/plugins/link.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/vendor/froala/js/plugins/lists.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/vendor/froala/js/plugins/paragraph_format.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/vendor/froala/js/plugins/paragraph_style.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/vendor/froala/js/plugins/quick_insert.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/vendor/froala/js/plugins/quote.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/vendor/froala/js/plugins/table.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/vendor/froala/js/plugins/save.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/vendor/froala/js/plugins/url.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/vendor/froala/js/plugins/video.min.js') }}"></script>

<!-- Include Language file if we want to use it. -->
<script type="text/javascript" src="{{ asset('assets/vendor/froala/js/languages/ro.js') }}"></script>


<script>
$(function() {
    $('#edit_page_form_pageContent').froalaEditor({
        heightMin: 400,
        imageUploadMethod: 'POST',
        imageUploadParams: {
                id: 'my_editor'
        },
        imageUploadURL: '/app_dev.php/admin/pages/uploadImage'
    });
});
</script>
{% endblock %}
    