{% extends 'AdminBundle:AdminDashobard:dashboard-nav/leftNavigation.html.twig' %}

{% block pageTitle %} Panel sterowania - strony {% endblock %}

{% block bodyClass %} nav-md {% endblock %}

    {% block container %}
        
       <div class="container body">
          <div class="main_container">
            <div class="col-md-3 left_col">
                {% block leftNavigation %}{{ parent() }}{% endblock %}
            </div>
            <!-- top navigation -->
            <div class="top_nav">
              {% block topNavigation %}{{ parent() }}{% endblock %}
            </div>
            <!-- /top navigation -->

            <!-- page content -->
            <div class="right_col" role="main">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        
                        <div class="panel">
                            {% for flash_message in app.session.flashBag.get('notice') %}
                                <div class="flash-notice">
                                    {{ flash_message }}
                                </div>
                            {% endfor %}
                            
                            <h3> Strony  <a href="{{ path('admin_pages_add_new') }}" class="btn btn-primary"> Dodaj nową </a> </h3>
                            
                            <div class="table-responsive">
                                    <table class="table table-striped jambo_table bulk_action">
                                      <thead>
                                        <tr class="headings">
                                          <th class="column-title" style="display: table-cell;">ID strony </th>
                                          <th class="column-title" style="display: table-cell;">Tytuł strony </th>
                                          <th class="column-title" style="display: table-cell;"> Akcje </th>
                                        </tr>
                                      </thead>

                                      <tbody>
                                        
                                        {% if pages is empty %} 
                                            <tr>
                                                <td> Na razie nie ma jeszcze dodanych żadnych stron... </td>
                                            </tr>
                                        {% endif %}
                                        
                                        
                                        {% set counter = 1 %}
                                        {% for page in pages %}
                                        
                                            <tr class="{% if counter is odd %} odd {% else %} even {% endif %} pointer">

                                                <td class=" "> {{ page.id }} </td>
                                                <td class=" "> {{ page.pageTitle }} </td>
                                                <td class=" last">
                                                    <a href="{{ path('admin_pages_edit', { 'pageID': page.id }) }}" class="btn btn-primary"> Edytuj </a>
                                                    <a href="{{ path('admin_pages_remove', { 'pageID': page.id }) }}" class="btn btn-danger"> Usuń </a>
                                                </td>

                                            </tr>
                                         {% set counter = counter + 1 %} 
                                        {% endfor %} 
                                        
                                        
                                        </tr>
                                      </tbody>
                                    </table>
                                  </div>
                            
                        </div>
                        
                    </div> <!-- /.col-md-12.col-sm-12.col-xs-12 -->
                </div> <!-- /.row -->
            </div>
            <!-- /page content -->
            <!-- footer content -->
            <footer>
              <div class="pull-right">
                Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
              </div>
              <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
          </div>
        </div>

    {% endblock %}