<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{{ asset('images/pd-favicon.png') }}">
    {% block stylesheets %}
        <!-- jQuery -->
        <script src="{{ asset('assets/vendor/jQuery/jquery.min.js') }}"> </script>
        <link href="{{ asset('assets/vendor/bootstrap/src/bootstrap.min.css') }}" rel="stylesheet">
        <!-- Font Awesome -->
        <link href="{{ asset('assets/vendor/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
        <!-- Animate.css -->
        <link href="{{ asset('assets/vendor/animate.css/animate.min.css') }}" rel="stylesheet">
        <!-- iCheck -->
        <link href="{{ asset('assets/vendor/iCheck/skins/flat/_all.css') }}" rel="stylesheet"> 
        <!-- Custom Theme Style -->
        <link href="{{ asset('assets/vendor/build/custom.min.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/AdminCustomStyles/css/main_styles.min.css') }}" rel="stylesheet">
    {% endblock %}
        <title> {% block pageTitle %} {% endblock %} </title>
    </head>
    
<body class="{% block bodyClass %} login {% endblock %}">
   

    {% block container %} 
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <div>
      <a class="hiddenanchor" id="signup"></a>
      <a class="hiddenanchor" id="signin"></a>

      <div class="login_wrapper">
        <div class="animate form login_form">
          <section class="login_content">
            <form action="{{ path('admin_homepage_login') }}" method="post">
              <h1>Login Form</h1>
              <div>
                <input type="text" id="username" name="_username" value="{{ last_username }}" />
              </div>
              <div>
                    <input type="password" id="password" name="_password" />
              </div>
              <div>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    <input type="hidden" name="_target_path" value="/admin" />
                <button class="btn btn-default submit" type="submit">login</button>
                <a class="reset_pass" href="#">Lost your password?</a>
              </div>

              <div class="clearfix"></div>
            </form>
          </section>
        </div>
      </div>
    </div>
       

        
    </form>
     {% endblock %}   